body {
  background-color: rgb(255, 225, 187);
}

p {
  font-family: "Playwrite VN Guides", cursive;
  color: rgb(12, 12, 11);
  font-size: 20px;
  font-weight: bold;
}
h1 {
  color: rgb(6, 51, 38);
}
img {
  font-size: 200px;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(44, 44, 44);
  border-radius: 100px;
  margin-top: -122px;
}
a {
  color: white;
  background-color: rgb(53, 29, 1);
  text-decoration: none;
  font-size: 20px;
  border: 10px solid rgb(53, 29, 1);
  display: inline-block;
  /* margin: 10px 0px; */
  margin-bottom: 30px;
}
#date {
  font-family: cursive;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
}
span {
  color: rgb(53, 35, 5);
}
main {
  width: 600px;
  margin: 200px auto 35px auto;
  background-color: rgb(176, 99, 36);
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
}